.graficos {
	background: rgba(102, 51, 153, 0.1);
	padding-top: 25px;
	padding-bottom: 35px;
	position: relative;
}

h1.texto-principal {
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	line-height: 10px;
	letter-spacing: -0.015em;
	color: #000000;
	margin-left: 200px;
	margin-top: 50px;
}

p.texto-secundario {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 26px;
	letter-spacing: -0.015em;
	margin-left: 200px;
}

p.tagline {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	letter-spacing: -0.015em;
	color: #000000;
	margin-left: 190px;
}

.brasil {
	margin-top: 70px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 30px;
	line-height: 72px;
	letter-spacing: -0.015em;
	color: #9B51E0;
}

/* Quantidade de casos por ano */

.caso-ano {
	margin-top: 50px;
	display: flex;
}

.before-select {
	display: grid;
}

.select {
	margin-left: 25px;
	margin-top: 15px;
}

p.primeira-linha {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	letter-spacing: -0.015em;
	margin-left: 150px;
}

p.segunda-linha {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	letter-spacing: -0.015em;
	margin-left: 150px;
	margin-bottom: 50px;
}

/* Tipo de Violência */

.tipos-violencia {
	margin-top: 50px;
	display: flex;
}

/* Faixa etária mais afetada */

.faixa-etaria {
	text-align: center;
}

p.terceira-linha {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 25px;
	letter-spacing: -0.015em;
}
/* Etnia mais afetada */

.etnia {
	text-align: center;
}

/* Faixa etária versus etnia */

.faixa-e-etnia {
	text-align: center;
}

/* Quem comete esses crimes */

.autores {
	text-align: center;
}

/* select */
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0!important;
	background-color: #9B51E0;
	background-image: none;
	flex: 1;
	padding: 0 .5em;
	color: whitesmoke;
	cursor: pointer;
	font-family: Montserrat;
	font-style: normal;
	font-size: 1.0em;
}

select::-ms-expand {
	display: none;
}

.select {
		position: relative;
		display: flex;
		width: 20em;
		height: 3em;
		line-height: 3;
		background: #9B51E0;
		overflow: hidden;
		border-radius: .25em;
}

.select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	padding: 0 1em;
	background:  #943de6;
	cursor: pointer;
	pointer-events: none;
	transition: .25s all ease;
}

.select:hover::after {
	color: whitesmoke;
}


/* imagens */

.texto-inicial  {
	position: relative;
}

.triangle-left {
	width: 125px;
  height: 400px;
  position: absolute;
  bottom: 0;
	left: 0;
	top: 0;
}