.leis {
  background-color: whitesmoke;
  text-align: center;
  padding-bottom: 50px;
}

.leis-title {
  padding-top: 50px;
}

.leis-titulo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  letter-spacing: -0.015em;
}

.leis-sub-titulo {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 50px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

.carrossel {
  margin-left: 150px;
  margin-right: 150px;
  margin-top: 25px;
}

.card {
  width: 100%;
  height: 400px;
  background-color: #ddb4f5;
  color: #333;
  font-size: 30px;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}